<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <username>{{MAVEN_SETTINGS_USER}}</username>
            <password>{{MAVEN_SETTINGS_KEY}}</password>
            <id>central</id>
        </server>
        <server>
            <username>{{MAVEN_SETTINGS_USER}}</username>
            <password>{{MAVEN_SETTINGS_KEY}}</password>
            <id>snapshots</id>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>development</id>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>libs-release</name>
                    <url>https://intelerepo.jfrog.io/artifactory/libs-release</url>
                </repository>
                <repository>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <id>snapshots</id>
                    <name>libs-snapshot</name>
                    <url>https://intelerepo.jfrog.io/artifactory/libs-snapshot</url>
                </repository>
            </repositories>
            <pluginRepositories>
              <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>libs-release</name>
                    <url>https://intelerepo.jfrog.io/intelerepo/libs-release</url>
              </pluginRepository>
              <pluginRepository>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <id>snapshots</id>
                    <name>libs-snapshot</name>
                    <url>https://intelerepo.jfrog.io/intelerepo/libs-snapshot</url>
              </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>development</activeProfile>
    </activeProfiles>
    <pluginGroups>
        <pluginGroup>org.mule.tools</pluginGroup>
     </pluginGroups>
</settings>

